# Database Configuration
DB_USERNAME=postgres
DB_PASSWORD=

# JWT Configuration
JWT_SECRET=

# OAuth2 Google
GOOGLE_CLIENT_ID=

# Notification Service Email Configuration
EMAIL_USERNAME=
EMAIL_PASSWORD=

# Order Service VNPay Configuration
VNPAY_HASH_SECRET=
VNPAY_TMN_CODE=

# AI Service Configuration
GEMINI_API_KEY=
